/*      nav bar     */
body{
    font-family: Arial, Helvetica, sans-serif;
}
#nav12{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #01010154;
    /*height: 90px;*/
    font-weight: 500;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: #62BEE4;
}
 .navbar-light .navbar-nav .active  .nav-link{
    color: #62BEE4;
}
.sign-in{
    color: white;
    border: 2px solid #40B0DE;
    border-radius: 153px;
    background: #62BEE4;

}
.sign-in:hover{
    background: transparent;

}

/***drop down profile**/
.profile-btn{
    width: 55px;
    height: 42px;
}
.profile-img{
    width: 100%;
    height: 100%;
}
.profile-div:hover .profile-menu{
    display: block;
}
.dropdown-menu {
    left: -107;
}
.profile-menu a:hover{
    color: #62BEE4;
}

/*****     firstPage  ******/

#firstPage{
    margin-top: 0px;

}


/*****     profile page  */


.pro-picture{
    text-align: center;
    padding-top: 5%;
}
.pro-picture button{
    margin: 10px;
}
.pro-picture img{
    width: 200px;
    height: 190px;;
}
.uploadfile{
    visibility: hidden;
}
.pro-detail{
    border-left: 1px solid #949494;
    padding-top: 5%;
}



/*footer*/
.footer{
    background:#182028 ;
    margin-top: 20;
}

.footer p{
    color: white;
    line-height: 4;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}







